<div class="jumbotron bg-white text-center">
  <img width="150" height="150" src="https://cdn.iconscout.com/icon/free/png-256/earth-global-globe-international-map-planet-world-12304.png" >
  <h1 class="display-4">Covid Tracker Country</h1>
  <hr>

  <div class="mx-auto">
    <div class="form-group col-lg-5 mx-auto">
      <label for="c">Select country </label>
      <select class="form-control" id="c" #value (change)="onChange(value.value)">
        <option disabled="">Select Country</option>
        <option value="{{con}}" *ngFor="let con of countries">{{con}}</option>
      </select>
    </div>
  </div>

  <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalDeaths]='totalDeaths' [totalRecovered]='totalRecovered'></app-dashboard-card>

</div>