<div class="jumbotron bg-white text-center">
  <img width="200" height="80" src = "https://png.pngtree.com/png-clipart/20200727/original/pngtree-blue-face-mask-prevention-fight-new-crown-pneumonia-phrase-svg-png-image_5365292.jpg">
  <h1 class="display-4">Corona Covid Tracker</h1>
  <hr>
</div>


<app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalDeaths]='totalDeaths' [totalRecovered]='totalRecovered'></app-dashboard-card>
<hr>

 <div class="ui form">
  <div class="inline fields">
    <label for="fruit">Select case:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value='c' id='c' name="casetype" #c (click)="onChangeCheck(c)" checked="" tabindex="0" class="hidden">
        <label for='c'>Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='r' value='r' (click)="onChangeCheck(r)" name="casetype" #r tabindex="0" class="hidden">
        <label for='r'>Recovered</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='d' value='d' (click)="onChangeCheck(d)" name="casetype" #d tabindex="0" class="hidden">
        <label for='d'>Deaths</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='a' value='a'#a (click)="onChangeCheck(a)" name="casetype" tabindex="0" class="hidden">
        <label for='a'>Active</label>
      </div>
    </div>
  </div>
</div>

<div class ="row">
  <div class = "col">
    <google-chart [type]='chart.PieChart' [data]='datatable'></google-chart>
  </div>
  <div class="col">
    <google-chart [type]='chart.ColumnChart' [data]='datatable'></google-chart>
  </div>
</div>


